[Unit]
Description=Kubernetes Node Agent

[Service]
ExecStart=/usr/bin/hyperkube kubelet --config {{ kubelet_config }}          \
            --kubeconfig {{ kubelet_kubeconfig }}                           \
            --container-runtime=remote                                      \
            --container-runtime-endpoint=unix://{{ kubelet_containerd_socket }}
Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
